// CSS RESET ========================
* {
	margin: 0;
	padding: 0;
	border: 0;
  vertical-align: baseline;
  font-family: Comfortaa;
  color: #fff;

}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
// end of CSS RESET ========================


// VARIABLES ========================
$font-global-color: #fff;
$wrapper-background: rgba(226, 226, 226, 0);

$header-background: rgb(0, 0, 0);
$header-nav__item_hover_background: rgba(250, 250, 250, 1);

$intro-footer__socials__color: rgb(46, 255, 255);

$section-background: rgba(0, 0, 0, 0.329);
// VARIABLES ========================


body{
  width: 100%;

  .wrapper{
    width: 100%;
    position: relative;
    background: $wrapper-background;

    .bg{
      position: fixed;
      top: 0; left: 0; bottom: 0;right: 0; 
      z-index: -1;
      background: radial-gradient(circle, rgba(22, 48, 86, 0), rgb(22, 48, 86) 60%) , url(../image/bg.jpg) no-repeat center, #000;

      >img{
        position: absolute;
        top: 0; left: 0; 
        z-index: -0;
        object-fit: contain;
        
      }
    }
  }
}



// HEADER============
.header{
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 3;

  background: $header-background;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;



  &-logo{
    p{
      font-weight: 900;
      font-size: 1.1em;
      color: $font-global-color;

    }
  }


  &-nav{
    
    
    &__items{
      display: flex;
      flex-direction: row;
      
      >li{
        padding: 0 10px;
        
        transition: all .3s linear;

        >a{
          font-size: 0.9em;
          line-height: 40px;
          color: $font-global-color;
          transition: all .3s linear;

        }

        &:hover{
          background-color: $header-nav__item_hover_background;

          > a{
            color: #000;
          }
        }
      }
    }
  }



  &-contact{


    &__socials{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    
      >li{
        padding: 0 8px;
        transition: all .3s linear;
        >a{

          >i{
            font-size: 1.2em;
            line-height: 30px;
            color: $font-global-color;
            transition: all .3s linear;

          }
        }

        &:hover{
          border-radius: 5px;
          background-color: $header-nav__item_hover_background;
        
          >a >i {
            color: rgb(46, 171, 255);
          }
        }
      }
    }


    &__menu{
      display: none;
    }
  }

}
// end HEADER============






// ========= INTRO
.intro{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: url("../image/content/intro/image.jpg") no-repeat;
  background-size: cover;

  &-header{
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__socials{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    
      >li{
        margin:0 10px;
        >a{

          >i{
            font-size: 1.4em;
            color: $intro-footer__socials__color;
          }
        }
      }
    }
  }

  &-wrapper{
    width: 80%;
    text-align: center;
    color: #fff;
    
    h1{
      margin-bottom: 20px;
      font-size: 3em;
    } 

    p i{
      font-size: 1.3em;
      line-height: 1.3em;
    }
  }


  &-footer{
    width: 100%;
    height: 60px;


    &__arrow{
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border: 1px solid $intro-footer__socials__color;
      border-radius: 50%;
      background: transparent;
      cursor: pointer;
      text-align: center;

      &:focus{
        outline: none;
      }
      >i{
        line-height: 50px;
        font-size: 1em;
        color: $intro-footer__socials__color;
      }
    }
  }
}
// ========= end of INTRO



// MENU-RESTOURANT=================== 
.menu-restourant{
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 600px;
  padding: 0 10%;
  margin: 50px auto 0;
  box-sizing: border-box;

  border-radius: 5px;
  background-color: $section-background;

  &-left-side{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: left;

    >h1{
      font-size: 2em;
      line-height: 1.2em;
      margin: 20px 40px;
    }

    >p{
      font-size: 1em;
      font-style: italic;
      line-height: 1.5em;
      margin: 20px 40px;
    }

    &-link-to{
      margin-top: 20px;
      width: 150px;
      height: 40px;
      background-color: transparent;
      border: 2px solid aqua;
      border-radius: 20px;
  
  
      font-size: 1em;
      text-align: center;
      line-height: 40px;
      transition: all .2s ease-in-out;
  
      &:focus, &:active, &:hover{
        background-color: aqua;
        border: 2px solid #fff;
  
      }
    }

  }

  &-right-side{
    width: 55%;
    padding: 50px 0;
    box-sizing: border-box;
    display: block;

    &_bg{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }

}

// MENU-RESTOURANT=================== 




// MENU-REVIEW=================== 
.menu-review{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  position: relative;

  width: 100%;
  height: 600px;
  padding: 0 10%;
  margin: 50px auto 0;
  box-sizing: border-box;

  border-radius: 5px;

  &-bg-side{
    position: absolute;
    left: 0;top: 0;right: 0;bottom: 0;
    z-index: 0;
   
    >img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &-center-side{ 
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    align-items: center;
    text-align: center;
    margin: auto;

    position: absolute;
    left: 0;top: 0;right: 0;bottom: 0;
    z-index: 0;


    >p{
      font-size: 1.4em;
      line-height: 1.5em;
      padding: 20px;
      background-color: rgb(0,0,0);
    }
  }
}

// MENU-REVIEW=================== 




// INTERIOR===============
.interior{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 500px;
  padding: 0 10%;
  margin: 50px auto 0;
  box-sizing: border-box;

  border-radius: 5px;
  background-color: $section-background;


  &-right-side{
    width: 55%;
    display: block;
    padding: 50px 0; 

    &_bg{
      object-fit: cover;
      width: 100%;
      height: 400px;
      margin: 0 5px;
    }
  }

  &-left-side{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: left;

    >h1{
      font-size: 2em;
      line-height: 1.2em;
      margin: 20px 40px;
    }

    >p{
      font-size: 1em;
      font-style: italic;
      line-height: 1.5em;
      margin: 20px 40px;
    }

    &-link-to{
      width: 150px;
      height: 40px;
      background-color: transparent;
      border: 2px solid aqua;
      border-radius: 20px;
  
  
      font-size: 1em;
      text-align: center;
      line-height: 40px;
      transition: all .2s ease-in-out;
  
      &:focus, &:active, &:hover{
        background-color: aqua;
        border: 2px solid #fff;
  
      }
    }
  }

}
// INTERIOR===============


// DISHES===============
.dishes{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 50px 5%;
  margin: 50px auto 0;
  box-sizing: border-box;

  border-radius: 5px;
  background-color: $section-background;


  &-top-side{
    width: 100%;

    &_bg{
      object-fit: cover;
      width: 100%;
      height: 500px;
      margin: 0 10px;
    }
  }

  &-bottom-side{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: left;

    >h1{
      font-size: 2em;
      line-height: 1.2em;
      margin: 20px 40px;
    }

    >p{
      font-size: 1em;
      font-style: italic;
      line-height: 1.5em;
      text-align: center;
      margin: 20px 40px 40px;
    }

  }

}
// DISHES===============




// ADDRESS===========
.address{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  

  width: 100%;
  margin: 50px auto 0;
  box-sizing: border-box;

  border-radius: 5px;
  background-color: $section-background;

  &-header{
    width: 100%;
    padding: 20px 20%;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      text-align: center;
      font-size: 1.5em;
    }
  }

  iframe{
    width: 100%;
    height: 450px;
    border-radius: 5px;
  }

  &-footer{
    width: 100%;
    padding: 20px 20%;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      text-align: center;
      font-size: 1.1em;
      line-height: 1.1em;
    }
  }
}

// ADDRESS===========


.footer{
  width: 100%;
  height: 100px;
  padding: 0 20px;
  margin-top: 50px;

  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  box-sizing: border-box;
  background-color: $header-background;


  &-nav{
    
    
    &__items{
      display: flex;
      flex-direction: row;
      
      >li{
        padding: 0 10px;
        >a{
          font-size: 0.9em;
          line-height: 40px;
          color: $font-global-color;
        }
      }
    }
  }

  &-logo{
    p{
      font-weight: 900;
      font-size: 1.1em;
      color: $font-global-color;

    }
  }
}













.menu{
  display: none;
}



/*====================SCRIPT LOADING====================*/
#loading{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;bottom: 0;
  left: 0;right: 0;
  background-color: #fff;
  z-index: 9999;
  img{
    width: 160px;
    height: 20px;
  }
} 

.hidden{
  opacity: 0;
}
.visible{
  opacity: 1;
}
/*==================== end SCRIPTS LOADING====================*/ 

@import "media";
