/* Tablets (вертикальная и горизонтальная) ----------- */
@media only screen and (max-width: 1020px) {

  body{
    position: relative;
  }


  // HEADER=========
  .header{
    width: 100%;
    padding: 0 10px;

    &-logo{
      p{
  
      }
    }

    &-nav{

      &__items{
        display: none;
      }
    }


    &-contact{

      &__socials{
        display: none;
      }
  
      &__menu{
        display: flex;
        width: 20px;
        height: 20px;
        background: transparent;
        cursor: pointer;
        
        &:focus{
          outline: none;
        }
        >i{
          font-size: 1.2em;
          color: #fff;
        }
      
      }
    }
  }
  // end HEADER======== 





  // ========= INTRO
  .intro{

    &-wrapper{
      
      img{
        width: 150px;
        height: 150px;
        display: inline-block;
        outline: 1px solid red;
      }
      h1{
        margin-bottom: 20px;
        font-size: 2em;
      } 

      p i{
        font-size: 1em;
      }
    }


  }
  // ========= end of INTRO


  // MENU-RESTOURANT=================== 
  .menu-restourant{
    flex-direction: column;

    width: 100%;
    height: auto;
    padding: 0 10%;
    margin: 50px auto 0;
    box-sizing: border-box;

    border-radius: 5px;
    background-color: $section-background;

    &-left-side{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      text-align: center;
      margin: 20px auto;

      >h1{
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 20px 40px;
        text-decoration: underline;
      }

      >p{
        font-size: 1em;
        font-style: italic;
        line-height: 1.5em;
        margin: 20px 40px;
      }

      &-link-to{
        width: 150px;
        height: 40px;
        background-color: transparent;
        border: 2px solid aqua;
        border-radius: 20px;
    
    
        font-size: 1em;
        text-align: center;
        line-height: 40px;
        transition: all .2s ease-in-out;
    
        &:focus, &:active, &:hover{
          background-color: aqua;
          border: 2px solid #fff;
    
        }
      }

    }

    &-right-side{
      width: 100%;
      padding: 50px 0;
      margin: 0 auto;
      box-sizing: border-box;
      display: block;

      &_bg{
        object-fit: cover;
        width: 100%;
        height: 300px;
      }

    }

  }

  // MENU-RESTOURANT=================== 



  // MENU-REVIEW=================== 
  .menu-review{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    position: relative;

    width: 100%;
    height: 600px;
    padding: 0 10%;
    margin: 50px auto 0;
    box-sizing: border-box;

    border-radius: 5px;

    &-bg-side{
      position: absolute;
      left: 0;top: 0;right: 0;bottom: 0;
      z-index: 0;
    
      >img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &-center-side{ 
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
      align-items: center;
      text-align: center;
      margin: auto;

      position: absolute;
      left: 0;top: 0;right: 0;bottom: 0;
      z-index: 0;


      >p{
        font-size: 1.2em;
        line-height: 1.2em;
        padding: 30px;
        background-color: rgb(0,0,0);
      }
    }
  }

  // MENU-REVIEW=================== 




  // INTERIOR===============
  .interior{
    display: -webkit-flex;
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    height: auto;
    padding: 0 10%;
    margin: 50px auto 0;
    box-sizing: border-box;

    border-radius: 5px;
    background-color: $section-background;


    &-right-side{
      width: 100%;
      display: block;
      padding: 20px 0;
      margin: 0 auto; 

      &_bg{
        object-fit: cover;
        width: 100%;
        height: 300px;
        margin: 0 5px;
      }
    }

    &-left-side{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      text-align: left;
      margin-top: 20px;

      >h1{
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 20px 40px;
        text-decoration: underline;
      }

      >p{
        font-size: 1em;
        font-style: italic;
        line-height: 1.5em;
        margin: 20px 40px;
      }

      &-link-to{
        width: 150px;
        height: 40px;
        background-color: transparent;
        border: 2px solid aqua;
        border-radius: 20px;
    
    
        font-size: 1em;
        text-align: center;
        line-height: 40px;
        transition: all .2s ease-in-out;
    
        &:focus, &:active, &:hover{
          background-color: aqua;
          border: 2px solid #fff;
    
        }
      }
    }

  }
  // INTERIOR===============



  // DISHES===============
  .dishes{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 40px 10px;
    margin: 50px auto 0;
    box-sizing: border-box;

    border-radius: 5px;
    background-color: $section-background;


    &-top-side{
      width: 100%;

      &_bg{
        object-fit: cover;
        width: 100%;
        height: 300px;
        margin: 0 5px;
      }
    }

    &-bottom-side{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      text-align: center;

      >h1{
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 20px;
        text-decoration: underline;

      }

      >p{
        font-size: 1em;
        font-style: italic;
        line-height: 1.5em;
        margin: 20px;
      }

    }

  }
  // DISHES===============




  // ADDRESS===========
  .address{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    

    width: 100%;
    height: auto;
    padding: 40px 10px;
    margin: 50px auto 0;
    box-sizing: border-box;

    border-radius: 5px;
    background-color: $section-background;

    &-header{
      width: 100%;
      padding: 5px 10px;
      margin-bottom: 20px;
      box-sizing: border-box;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        text-align: center;
        font-size: 1.3em;
        line-height: 1.3em;
      }
    }

    iframe{
      width: 100%;
      height: 300px;
      margin-bottom: 20px;
      border-radius: 5px;
    }

    &-footer{
      width: 100%;
      padding: 5 10px;
      box-sizing: border-box;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        text-align: center;
        font-size: 1.1em;
        line-height: 1.1em;
      }
    }
  }



  // ADDRESS===========



  // FOOTER==========
  .footer{
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 50px;

    &-nav{
      
      
      &__items{
        display: flex;
        flex-direction: row;
        
        >li{
          padding: 0 5px;
          >a{
            font-size: 0.8em;
            line-height: 1;
            color: $font-global-color;
          }
        }
      }
    }

    &-logo{
      width: 40%;

      p{
        text-align: right;
        font-weight: 500;
        font-size: 1em;
        line-height: 1.2em;
        color: $font-global-color;

      }
    }
  }

  // end FOOTER==========






  // MENU===========

  .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .close-animatedModal{
      position: absolute;
      top: 20px;
      right: 20px;
      
      width: 40px;
      height: 40px;
      border: 1px solid white;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      background: transparent;

      >i{
        font-size: 1.3em;
        line-height: 40px;
      }
    }

    .nav{
      position: absolute;
      border: 1px solid white;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      background: transparent;
      transition: all .3s linear;

    }

    .nav-socials-1{
      bottom: 160px;
      right: 20px;
    
      width: 40px;
      height: 40px;

      >i{
        font-size: 1.1em;
        line-height: 40px;
      }
    }

    .nav-socials-2{
      bottom: 100px;
      right: 20px;
    
      width: 40px;
      height: 40px;

      >i{
        font-size: 1.1em;
        line-height: 40px;
      }
    }

    .nav-phone-number{
      bottom: 20px;
      right: 20px;
    
      width: 60px;
      height:60px;
      
      >i{
        font-size: 1.5em;
        line-height: 60px;
      }
    }


    .modal-content{
      box-sizing: border-box;

      .menu__items{
        box-sizing: border-box;


        >li{
          padding: 20px 60px;
          border-bottom: 2px solid #fff;
          text-align: center;
          transition: background .3s ease-in-out;
          
          a{
            color: #fff;
            font-weight: 100;
            font-size: 1.4em;
            line-height: 1.4em;
            transition: color .3s ease-in-out;

          }

          &:hover a{
            color: #000;
          }

          &:hover{
            border-bottom: 2px solid #fff;
            background-color: #fff;
          }
        }
      }
    }    
  }
  // end MENU===========


  .popupmodal{
    display: none;
  }
}


/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (max-width : 480px) {

  body{
    position: relative;
  }



  // HEADER=========
  .header{
    width: 100%;
    height: 50px;
    padding: 0 10px;

    &-logo{
      p{
  
      }
    }

    &-nav{

      &__items{
        display: none;
      }
    }


    &-contact{

      &__socials{
        display: none;
      }
  
      &__menu{
        display: flex;
        width: 20px;
        height: 20px;
        background: transparent;
        cursor: pointer;
        
        &:focus{
          outline: none;
        }
        >i{
          font-size: 1.2em;
          color: #fff;
        }
      
      }
    }
  }
  // end HEADER======== 






  // ========= INTRO
  .intro{

    &-wrapper{
      

    img{
      width: 150px;
      height: 150px;
      display: inline-block;
      outline: 1px solid red;
    }
      h1{
        margin-bottom: 20px;
        font-size: 2em;
      } 

      p i{
        font-size: 1em;
      }
    }


  }
  // ========= end of INTRO

  // MENU-RESTOURANT=================== 
  .menu-restourant{
    flex-direction: column;

    width: 100%;
    height: auto;
    padding: 0 10px;
    margin: 50px auto 0;
    box-sizing: border-box;

    border-radius: 5px;
    background-color: $section-background;

    &-left-side{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      text-align: center;
      margin: 20px auto;

      >h1{
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 20px;
        text-decoration: underline;
      }

      >p{
        font-size: 1em;
        font-style: italic;
        line-height: 1.5em;
        margin: 20px;
      }

      &-link-to{
        width: 150px;
        height: 40px;
        background-color: transparent;
        border: 2px solid aqua;
        border-radius: 20px;
    
    
        font-size: 1em;
        text-align: center;
        line-height: 40px;
        transition: all .2s ease-in-out;
    
        &:focus, &:active, &:hover{
          background-color: aqua;
          border: 2px solid #fff;
    
        }
      }

    }

    &-right-side{
      width: 100%;
      padding: 50px 0;
      margin: 0 auto;
      box-sizing: border-box;
      display: block;

      &_bg{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

    }

  }

  // MENU-RESTOURANT=================== 



  // MENU-REVIEW=================== 
  .menu-review{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    position: relative;

    width: 100%;
    height: 600px;
    padding: 0 10%;
    margin: 50px auto;
    box-sizing: border-box;

    border-radius: 5px;

    &-bg-side{
      position: absolute;
      left: 0;top: 0;right: 0;bottom: 0;
      z-index: 0;
    
      >img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &-center-side{ 
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
      align-items: center;
      text-align: center;
      margin: auto;

      position: absolute;
      left: 0;top: 0;right: 0;bottom: 0;
      z-index: 0;


      >p{
        font-size: 1.2em;
        line-height: 1.2em;
        padding: 30px;
        background-color: rgb(0,0,0);
      }
    }
  }

  // MENU-REVIEW=================== 



  // INTERIOR===============
  .interior{
    display: -webkit-flex;
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    height: auto;
    padding: 0 10px;
    margin: 20px auto;
    box-sizing: border-box;

    border-radius: 5px;
    background-color: $section-background;


    &-right-side{
      width: 100%;
      display: block;
      padding: 20px 0;
      margin: 0 auto; 

      &_bg{
        object-fit: cover;
        width: 100%;
        height: 300px;
      }
    }

    &-left-side{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      text-align: center;
      margin-top: 20px auto;

      >h1{
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 20px;
        text-decoration: underline;
      }

      >p{
        font-size: 1em;
        font-style: italic;
        line-height: 1.5em;
        margin: 20px;
      }

    }

  }

  // INTERIOR===============


  // DISHES===============
  .dishes{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 40px 10px;
    margin: 20px auto;
    box-sizing: border-box;

    border-radius: 5px;
    background-color: $section-background;


    &-top-side{
      width: 100%;

      &_bg{
        object-fit: cover;
        width: 100%;
        height: 300px;
        margin: 0 5px;
      }
    }

    &-bottom-side{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      text-align: center;

      >h1{
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 20px;
        text-decoration: underline;

      }

      >p{
        font-size: 1em;
        font-style: italic;
        line-height: 1.5em;
        margin: 20px;
      }

    }

  }
  // DISHES===============



  // ADDRESS===========
  .address{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    

    width: 100%;
    height: auto;
    padding: 40px 10px;
    margin: 50px auto;
    box-sizing: border-box;

    border-radius: 5px;
    background-color: $section-background;

    &-header{
      width: 100%;
      margin-bottom: 20px;
      box-sizing: border-box;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      p{
        text-align: center;
        font-size: 1.3em;
        line-height: 1.3em;
      }
    }

    iframe{
      width: 100%;
      height: 500px;
      margin-bottom: 20px;
      border-radius: 5px;
    }

    &-footer{
      width: 100%;
      box-sizing: border-box;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        text-align: center;
        font-size: 1.1em;
        line-height: 1.1em;
      }
    }
  }



  // ADDRESS===========



  // FOOTER==========
  .footer{
    width: 100%;
    height: auto;
    padding: 10px;

    &-nav{
      
      
      &__items{
        display: flex;
        flex-direction: column;
        
        >li{
          padding: 5px;
          >a{
            font-size: 0.8em;
            line-height: 1;
            color: $font-global-color;
          }
        }
      }
    }

    &-logo{
      width: 50%;

      p{
        text-align: right;
        font-weight: 500;
        font-size: 1em;
        line-height: 1.2em;
        color: $font-global-color;

      }
    }
  }

  // end FOOTER==========







  // MENU===========
  .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .close-animatedModal{
      position: absolute;
      top: 20px;
      right: 20px;
      
      width: 40px;
      height: 40px;
      border: 1px solid white;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      background: transparent;

      >i{
        font-size: 1.3em;
        line-height: 40px;
      }
    }

    .nav{
      position: absolute;
      border: 1px solid white;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      background: transparent;
      transition: all .3s linear;

    }

    .nav-socials-1{
      bottom: 160px;
      right: 20px;
    
      width: 40px;
      height: 40px;

      >i{
        font-size: 1.1em;
        line-height: 40px;
      }
    }

    .nav-socials-2{
      bottom: 100px;
      right: 20px;
    
      width: 40px;
      height: 40px;

      >i{
        font-size: 1.1em;
        line-height: 40px;
      }
    }

    .nav-phone-number{
      bottom: 20px;
      right: 20px;
    
      width: 60px;
      height:60px;
      
      >i{
        font-size: 1.5em;
        line-height: 60px;
      }
    }


    .modal-content{
      box-sizing: border-box;

      .menu__items{
        box-sizing: border-box;


        >li{
          padding: 20px 60px;
          border-bottom: 2px solid #fff;
          text-align: center;
          transition: background .3s ease-in-out;
          
          a{
            color: #fff;
            font-weight: 100;
            font-size: 1.4em;
            line-height: 1.4em;
            transition: color .3s ease-in-out;

          }

          &:hover a{
            color: #000;
          }

          &:hover{
            border-bottom: 2px solid #fff;
            background-color: #fff;
          }
        }
      }
    }

    
  }
// end MENU===========


  .popupmodal{
    display: none;
  }
}
