// CSS RESET ========================
* {
	margin: 0;
	padding: 0;
	border: 0;
  vertical-align: baseline;
  font-family: Comfortaa;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
// end of CSS RESET ========================


// VARIABLES ========================
$font-global-color: #000;
$wrapper-background: rgb(226, 226, 226);
$header-background: rgba(115, 217, 255, 0.27);
$header-nav__item_hover_background: rgba(250, 250, 250, 1);

$intro-footer__socials__color: rgb(46, 255, 255);

$section-background: #fff;
// VARIABLES ========================


body{
  width: 100%;

  .wrapper{
    width: 100%;
    position: relative;
    background: $wrapper-background;

  }
}



// HEADER============
.header{
  width: 80%;
  height: 40px;
  margin: 0 auto;

  position: sticky;
  top: 0;
  z-index: 3;

  background: $header-background;
  border-bottom: 3px solid rgb(82, 204, 168);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &-nav{
    

    &__menu{
      display: none;
    }
    
    &__items{
      display: flex;
      flex-direction: row;
      
      >li{
        padding: 0 5px;
        
        transition: all .3s linear;

        >a{
          font-size: 0.9em;
          line-height: 40px;
        }

        &:hover{
          background-color: $header-nav__item_hover_background;
        }
      }
    }
  }


  &-logo{
    p{
      font-weight: 900;
      font-size: 1.1em;
    }
  }



  &-contact{


    &__socials{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    
      >li{
        padding: 0 8px;
        transition: all .3s linear;
        >a{

          >i{
            font-size: 1.2em;
            line-height: 30px;
            color: #000;
          }
        }

        &:hover{
          border-radius: 5px;
          background-color: $header-nav__item_hover_background;
        }
      }
    }
  }

}
// end HEADER============


// SECTION ============

.overwiew-grid{
  width: 80%;
  margin: 40px auto;

  background-color: $section-background;

   


  &_header{

  }


  &_content{
    display: -ms-grid;
    display: grid;


    &_items{
      margin: 3px 3px;
    
      
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }



  &_items{
    margin: 3px 3px;
   
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}


// end SECTION ============





footer{
  width: 80%;
  height: 100px;

  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 

  border-top: 3px solid rgb(82, 204, 168);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 auto;
  background-color: $header-background;

}













.menu{
  display: none;
}

.popup-alert{
  //width & height добавляется с помощю javascript
  //и оцентрируется через js
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid silver;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 10px 3px rgba(255,255,255,.5);
  background-color: rgba(192, 192, 192, 0.6);

  &_button_close{
    position: absolute;
    top: 5px;
    right: 5px;

    background: none;
    border: none;

    > i{
      font-size: 1.5em;
    }
  }



}


#background{
  display: none;
  position: fixed;
  top: 0; bottom: 0; right: 0; left: 0;
  z-index: 5;
  background-color: rgba(0,0,0,.6);
}



/*====================SCRIPT LOADING====================*/
#loading{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;bottom: 0;
  left: 0;right: 0;
  background-color: #fff;
  z-index: 9999;
  img{
    width: 160px;
    height: 20px;
  }
} 
/*==================== end SCRIPTS LOADING====================*/ 



@import "interiorMedia";